.Nav {
  border: 1px solid #000;
  padding: 0;
}
.Nav ul {
  margin: 0;
  padding: 0;
}
.Nav li {
  display: inline-block;
}

.Nav a {
  display: block;
  text-decoration: none;
  color: black;
}

.Nav a:hover,
.Nav a:active {
  color: #fa923f;
}


.largeWidth {
  min-width: 200%;
  width: 250%;
  max-width: 250%;
}