  .active {
    border-top: 1px solid #e3e3e346;
    border-left: 1px solid #e3e3e346;
    border-right: 1px solid #e3e3e346;
    padding: 12px;
  }

  .extraPadding{
    padding: 1%;
    padding-bottom: 6%;
  }